
<h1>Create a match between two teams</h1>

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="'matches_create'"  method="post">
{% csrf_token %}
    <label for="match_number">Match Number (*):</label>
    <input type="number" id="match_number" name="match_number">
    <br>
    <label for="match_stadium">Match Stadium (*):</label>
    <input type="text" id="match_stadium" name="match_stadium" required minlength="1" maxlength="255" size="25">
    <br>
    <label for="match_location">Match Location (*):</label>
    <input type="text" id="match_location" name="match_location" required minlength="1" maxlength="255" size="25">
    <br>
    <label for="match_tournament">Match Tournament (*):</label>
    <input type="text" id="match_tournament" name="match_tournament" required minlength="1" maxlength="255" size="25">
    <br>

    <p>Please visit <a href="'teams_index'">Teams List</a> to get the team playing.</p>

    <label for="team_1">Playing team 1 (*):</label>
    <input type="text" id="team_1" name="team_1" size="100">
    <br>
    <label for="team_2">Playing team 2 (*):</label>
    <input type="text" id="team_2" name="team_2" size="100">
    <br>
    <input type="submit">
</form>

<a href="'fixtures_create'">Create a tournament instead</a>
